# 4.7 Deriving New Variables

## Contents

1- Creating price_label and busiest_day Columns

2- Creating busiest_days Column

3- Creating busiest_period_of_day Column

4- Printing the frequency of busiest_period_of_day Column

5- Exporting the Updated dataframe as a Pickle File and Storing it in the Prepared Data Folder

In [43]:
import numpy as np
import pandas as pd
import os

In [44]:
path = r'/Users/calebhill/09:01:2023 - Instacart Basket Analysis/02 Data/Prepared Data'

In [45]:
filename = 'orders_products_merged.pkl'

In [46]:
filepath = os.path.join(path, filename)

In [47]:
ords_prods_merge = pd.read_pickle(filepath)

In [48]:
#creates a new dataframe with the first million rows
df = ords_prods_merge[:1000000]

## 1) Creating price_label and busiest_day Columns

In [143]:
#A function that categorizes the product prices into High, Mid, and Low ranges
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [50]:
df['price_range'] = df.apply(price_label, axis = 1) #calls the function with the dataframe

/var/folders/7b/bf0m4cb16d7_c2lhblbv5c5h0000gn/T/ipykernel_44065/935325922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [51]:
df['price_range'].value_counts(dropna = False) #confirms the data was inputted correctly

price_range
Mid-range product    652638
Low-range product    338018
High range             9344
Name: count, dtype: int64

In [52]:
df['prices'].max() #confirms the max price

24.5

I'm not sure why I'm getting a higher number and I'm not sure how to sort the first 1000000 rows to match what the exercise had.

In [90]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/7b/bf0m4cb16d7_c2lhblbv5c5h0000gn/T/ipykernel_44065/1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

Do you know why I'm getting this warning?

In [69]:
#The next three cells replicate the the previous user function but by using the loc function
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [70]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [71]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     652638
Low-range product     338018
High-range product      9344
Name: count, dtype: int64

In [72]:
#the next three cells replicate the same functions as the previous three but for the whole dataframe
ords_prods_merge.loc[ords_prods_merge['prices'] >15, 'price_range_loc'] = 'High Range Product'

In [73]:
ords_prods_merge.loc[(ords_prods_merge['prices']<=15) & (ords_prods_merge['prices']>5), 'price_range_loc'] = 'Mid Range Product'

In [76]:
ords_prods_merge.loc[ords_prods_merge['prices'] <=5, 'price_range_loc'] = 'Low Range Product'

In [77]:
ords_prods_merge['price_range_loc'].value_counts(dropna = False) #confirms the column was inputted correctly

price_range_loc
Mid Range Product     21860860
Low Range Product     10126321
High Range Product      417678
Name: count, dtype: int64

In [79]:
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False) #displays the order count for each day of the week

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [80]:
#a for loop that categorizes the days of the week by Busiest, Least Busy and regular and outputs a list
result = [] #creates an empty list for the values

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [103]:
#creates a busiest day column using the list created in the previous cell
ords_prods_merge['busiest_day'] = result

In [84]:
#confirms the column was inputted correctly
ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [85]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,exists,price_range_loc,busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,both,Mid Range Product,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,both,Mid Range Product,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,both,Mid Range Product,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,both,Mid Range Product,Regularly busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,both,Mid Range Product,Least busy

In [88]:
#renamed the column
ords_prods_merge.rename(columns ={'price_range_loc':'price_label'}, inplace = True)

In [89]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,exists,price_label,busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,both,Mid Range Product,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,both,Mid Range Product,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,both,Mid Range Product,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,both,Mid Range Product,Regularly busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,both,Mid Range Product,Least busy

## 2) Creating busiest_days Column

In [115]:
#a for loop that categorizes the days of the week by busiest, second busiest, slowest, second slowest and regular and outputs a list
new_list = [] #creates an empty list for the day values

for day in ords_prods_merge['orders_day_of_week']:
    if day == 0:
        new_list.append('Busiest Day')
    elif day == 1:
        new_list.append('Second Busiest Day')
    elif day == 4:
        new_list.append('Slowest Day')
    elif day == 3:
        new_list.append('Second Slowest Day')
    else:
        new_list.append('Regularly Busy')

In [116]:
#creates a new column with the list outputted by the previous for loop
ords_prods_merge['busiest_days'] = new_list

In [121]:
#confirms the column was inputted correctly
ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly Busy        12916111
Busiest Day            6204182
Second Busiest Day     5660230
Second Slowest Day     3840534
Slowest Day            3783802
Name: count, dtype: int64

Everything looks good

## 3) Creating busiest_period_of_day Column

In [124]:
#displays the count of orders for each hour of the day
ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [133]:
#creates an empty list to put the values created by the for loop
hour_list = []
#I divided the hours of the day into the three categories based on the count of their orders
most_orders =    [10,11,14,15,13,12,16,9]
average_orders = [17,8,18,19,20,7,21,22]
least_orders =   [23,6,0,1,5,2,4,3]

for hour in ords_prods_merge['order_hour_of_day']:
    if hour in most_orders:
        hour_list.append('Most orders')
    elif hour in average_orders:
        hour_list.append('Average orders')
    elif hour in least_orders:
        hour_list.append('Least orders')

In [137]:
#puts the values into a column in the df
ords_prods_merge['busiest_period_of_day'] = hour_list

## 4) Printing the frequency of busiest_period_of_day Column

In [136]:
ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Least orders       1289137
Name: count, dtype: int64

In [139]:
#double checking everything looks good
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,exists,price_label,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,both,Mid Range Product,Regularly Busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,both,Mid Range Product,Regularly Busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,both,Mid Range Product,Busiest Day,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,both,Mid Range Product,Second Slowest Day,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,both,Mid Range Product,Slowest Day,Average orders

##  5) Exporting the Updated dataframe as a Pickle File and Storing it in the Prepared Data Folder

In [142]:
ords_prods_merge.to_pickle(os.path.join(path, 'orders_products_merged_2.0.pkl'))